// *************************************
//
//  Bucket
//   -> Media-supported content
//
// *************************************

.bucket {
  display: flex;
  flex-direction: column;

  @include respond-to($bp-s) {
    flex-direction: row;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Vertically Center ----- //

.bucket--vc {
  align-items: center;
}

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Content ----- //

.bucket-content {
  flex-grow: 1;
  text-align: center;

  @include respond-to($bp-s) {
    text-align: left;
  }
}

// ----- Media ----- //

.bucket-media {
  flex-shrink: 0;
  margin-right: 0;

  > img {
    display: block;
  }

  @include respond-to($bp-s) {
    margin-right: rem(50px);
  }
}