//-------------------------------------
//  Application
//-------------------------------------

// ----- Core ----- //

@import "core/1_reset"
@import "core/2_helpers"
@import "core/3_config"
@import "core/4_base"

// ----- Components ----- //

@import "modules/*"

//-------------------------------------
//  Inbox
//-------------------------------------

%link
  border-bottom: none

.link-twitter
  @extend %link
  i:before
    @extend %icn
    @extend %icn--twitter

.link-dribbble
  @extend %link
  i:before
    @extend %icn
    @extend %icn--dribbble

.link-github
  @extend %link
  i:before
    @extend %icn
    @extend %icn--github

.c-icn
  font-size: 1.25rem
  text-align: center
  display: inline-block
  padding: 0 10px
  background: #f4f2f3
  position: relative
  z-index: 2
  b
    @extend %srt

.header-secondary
  font-size: 2rem
  line-height: 1.5
  margin-bottom: 2rem

.header-about
  margin: 0

.tcs
  color: $secondary-color
  text-transform: uppercase
  font-size: rem(16px)

.mbf 
  margin-bottom: 0

.mbl
  margin-bottom: rem(40px)

.mbxl
  margin-bottom: rem(60px)

.link-list
  justify-content: center
  display: flex
  position: relative

  &::before
    content: ""
    border-top: 1px solid $secondary-color
    display: block
    position: absolute
    width: 100%
    top: 15px