---
title: Jordan Wade
scripts:
  - vendor/raphael
  - animation
---

.l-row.c-content
  .l-cell.info
    %p.header-about
      <strong> I'm a UI Engineer at <a href="http://codeschool.com/" alt="Code School">Code School</a></strong>. I grew up in a small town in Indiana and started as a carpenter on a Amish construction crew. I traded in my tool belt for all things development and design.  Now, I call the state of Florida my home.
    %ul.link-list
      %li.c-icn
        = link_to 'https://dribbble.com/jordanwade', class: 'link-dribbble' do
          %b Dribbble
          %i(aria-hidden="true")
      %li.c-icn
        = link_to 'https://twitter.com/jjordanwade', class: 'link-twitter' do
          %b Twitter
          %i(aria-hidden="true")
      %li.c-icn
        = link_to 'https://github.com/jordanwade', class: 'link-github' do
          %b GitHub
          %i(aria-hidden="true")
