---
title: Jordan Wade
---

.l-row.c-content
  .l-cell.info
    %p.header-about I'm a front-end developer and designer. I grew up in a small town in Indiana and worked summers on an Amish carpenter crew. Now, I call Orlando, Florida my home and I work for <a href="http://envylabs.com/" alt="Envy Labs">Envy Labs</a>. Most days you can find me working on <a href="http://www.codeschool.com/" alt="Envy Labs">Code School.</a>
    %ul.link-list
      %li.c-icn
        = link_to 'http://envylabs.com/', class: 'link-envy' do
          %b Envy Labs
          %i(aria-hidden="true")
      %li.c-icn
        = link_to 'http://dribbble.com/jordanwade', class: 'link-dribbble' do
          %b Dribbble
          %i(aria-hidden="true")
      %li.c-icn
        = link_to 'https://twitter.com/jjordanwade', class: 'link-twitter' do
          %b Twitter
          %i(aria-hidden="true")
      %li.c-icn
        = link_to 'https://github.com/jordanwade', class: 'link-github' do
          %b GitHub
          %i(aria-hidden="true")
