---
title: Jordan Wade
---
.l-row
  .l-cell
    %h1 I'm a front-end developer and designer.
    %p I grew up in a small town in Indiana and worked summers on an Amish carpenter crew. Now, I call Orlando, Florida my home and I work for Envy Labs. Most days you can find me working on Code School.
    %p Since moving to Florida, I’ve had a chance to attend the NBA Finals, marry an amazing woman, and almost catch a shark.
    %p You can get in touch with me here or find me on twitter or dribbble.
